<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76264690945-ems96r19ld63if1nsml6tg1g4ulij08b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76264690945-ems96r19ld63if1nsml6tg1g4ulij08b</string>
	<key>API_KEY</key>
	<string>AIzaSyBeWow7-np_NzGrDBRGCFIKbmS0SB_Zj6I</string>
	<key>GCM_SENDER_ID</key>
	<string>76264690945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appleFitnessFlutter</string>
	<key>PROJECT_ID</key>
	<string>ntmdev-e248a</string>
	<key>STORAGE_BUCKET</key>
	<string>ntmdev-e248a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76264690945:ios:7584e17757e45f73277700</string>
	<key>DATABASE_URL</key>
	<string>https://ntmdev-e248a.firebaseio.com</string>
</dict>
</plist>